@page "/student/studentlist"
@using BCA007.Shared.Service.Student
@inject ISnackbar _snackbar
@inject IStudentService _serv
@inject IDialogService _dialog

<MudPaper Class="pa-0 mt-6">
    <MudDataGrid Dense Hover Items="_list" Loading="_loading"
                 QuickFilter="QuickFilter"
                 SortMode="SortMode.Multiple"
                 @ref="_grid">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Student List</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            <MudButtonGroup Color="Color.Primary" Size="Size.Small" Variant="Variant.Filled">
                <MudButton StartIcon="@Icons.Material.Filled.Add"
                           Color="Color.Primary" Size="Size.Small"
                           OnClick="CreateDetails">
                    Add
                </MudButton>
                <MudButton StartIcon="@Icons.Material.Filled.Refresh"
                           Color="Color.Primary" Size="Size.Small"
                           OnClick="OnRefresh">
                    Refresh
                </MudButton>
                @* <MudButton StartIcon="@Icons.Material.Filled.Help"
                           Color="Color.Primary" Size="Size.Small"
                           OnClick="OnRefresh">
                    Help
                </MudButton> *@
            </MudButtonGroup>
        </ToolBarContent>

        <Columns>
            <TemplateColumn Title="Photo">
                <CellTemplate>
                    <MudAvatar Size="Size.Small">
                        @{
                            var prof = @context.Item.ProfileURL ?? "/images/default-user.png";
                        }
                        <MudImage Src="@prof" />
                    </MudAvatar>
                </CellTemplate>
            </TemplateColumn>
            @* <PropertyColumn Property="x => x.Id" Title="Id" /> *@
            <PropertyColumn Property="x => x.UserName" Title="User Name" />
            <PropertyColumn Property="x => x.FullName" Title="Student Name" />
            <PropertyColumn Property="x => x.Email" Title="Email" />
            <PropertyColumn Property="x => x.PhoneNumber" Title="Phone Number" />
            <PropertyColumn Property="x => x.Route_Name" Title="Bus Route" />
            @* <PropertyColumn Property="x => x.PhoneNumber" Title="Phone Number" />
            <PropertyColumn Property="x => x.DateOfBirth" Title="DOB" Format=" dd MMM yyyy" />
            <PropertyColumn Property="x => x.Gender_Name" Title="Gender" />
            <PropertyColumn Property="x => x.Class_Name" Title="Class Name" /> *@
            <TemplateColumn Title="Status">
                <CellTemplate>
                    @{
                        if (@context.Item.IsLocked)
                        {
                            <MudChip T="string" Color="Color.Error">Disabled</MudChip>

                        }
                        else
                        {
                            <MudChip T="string" Color="Color.Success">Enabled</MudChip>

                        }

                    }
                </CellTemplate>
            </TemplateColumn>

            <TemplateColumn Title="Actions">
                <CellTemplate Context="row">
                    <div class="d-flex align-center" style="gap:4px; white-space:nowrap;">
                        <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                       Color="Color.Primary" Size="Size.Small"
                                       OnClick="@(() => EditDetails(row.Item))" />
                        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                       Color="Color.Error" Size="Size.Small"
                                       OnClick="@(() => DeleteDetails(row.Item))" />
                    </div>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager PageSizeOptions="new int[] { 5, 10, 25, 100 }" />
        </PagerContent>
    </MudDataGrid>

</MudPaper>

@code {
    private MudDataGrid<StudentViewDto> _grid = default!;
    private List<StudentViewDto> _list = new();
    private string _searchString = string.Empty;
    private bool _loading;
    protected override async Task OnInitializedAsync()
    {
        await OnRefresh();
    }
    private bool QuickFilter(StudentViewDto x)
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        return x.UserName.Contains(_searchString, StringComparison.OrdinalIgnoreCase)
            || x.Email.Contains(_searchString, StringComparison.OrdinalIgnoreCase)
            || x.Parent_Name.Contains(_searchString, StringComparison.OrdinalIgnoreCase)
            || x.PhoneNumber.Contains(_searchString, StringComparison.OrdinalIgnoreCase)
             || (x.Route_Name?.Contains(_searchString, StringComparison.OrdinalIgnoreCase) == true)
            || x.FullName.Contains(_searchString, StringComparison.OrdinalIgnoreCase);
    }

    private async Task OnRefresh()
    {
        try
        {
            _loading = true;
            //await Task.Delay(700);
            _list = await _serv.GetAllAsync();
            await _grid.ReloadServerData(); // keeps sort & page
        }
        catch (Exception ex)
        {
            _snackbar.Add(ex.Message, Severity.Success);
        }
        finally
        {
            _loading = false;
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task CreateDetails()
    {
        await OpenDetailsDialog(new StudentDto(), "Create");
    }

    private async Task EditDetails(StudentViewDto dto)
    {
        // IMPORTANT: pass a COPY
        await OpenDetailsDialog(new StudentDto
        {
            Id = dto.Id,
            Email = dto.Email,
            UserName = dto.UserName,
            FullName = dto.FullName,
            PhoneNumber = dto.PhoneNumber,
            DateOfBirth = dto.DateOfBirth,
            Class_Id = dto.Class_Id,
            Gender_Id = dto.Gender_Id,
            Parent_Id = dto.Parent_Id,
            ProfileURL = dto.ProfileURL,
            BusRoute_Id = dto.BusRoute_Id,
            HostelRoom_Id = dto.HostelRoom_Id,
            IsLocked=dto.IsLocked


        }, "Edit");
    }
    private async Task DeleteDetails(StudentViewDto dto)
    {
        await OpenDetailsDialog(new StudentDto
        {
            Id = dto.Id,
            Email = dto.Email,
            UserName = dto.UserName,
            FullName = dto.FullName,
            PhoneNumber = dto.PhoneNumber,
            DateOfBirth = dto.DateOfBirth,
            Class_Id = dto.Class_Id,
            Gender_Id = dto.Gender_Id,
            Parent_Id = dto.Parent_Id,
            ProfileURL = dto.ProfileURL,
            BusRoute_Id = dto.BusRoute_Id,
            HostelRoom_Id = dto.HostelRoom_Id
        }, "Delete");
    }
    private async Task OpenDetailsDialog(StudentDto model, string action)
    {
        _loading = true;
        var parameters = new DialogParameters
        {
            ["Model"] = model,
            ["Action"] = action
        };
        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Small,
            FullWidth = true,
            BackdropClick = false
        };

        var dialog = await _dialog.ShowAsync<StudentEdit>(
           $"{action} Student",
            parameters, options);

        var result = await dialog.Result;
        _loading = false;

        if (result == null)
            return;
        if (result.Canceled)
            return;
        if (result.Data == null)
            return;

        await OnRefresh();
        await InvokeAsync(StateHasChanged);
    }

}