@using BCA007.Shared.DTOs
@using BCA007.Shared.Service.Core
@using BCA007.Shared.Service.Library
@inject ISnackbar _snackbar
@inject IBookService _serv
@inject ILookupService _lookup
<MudDialog>
    <DialogContent>
        <MudForm @ref="_form" Model="Model">
            <MudGrid Spacing="3">

                <!-- ================= LEFT COLUMN (Photo) ================= -->
                <MudItem xs="12" md="4" Class="d-flex justify-center">
                    <MudFileUpload T="IBrowserFile"
                                   FilesChanged="OnPhotoSelected"
                                   Accept="image/*">
                        <ActivatorContent>
                            <div style="position:relative; cursor:pointer;">

                                <MudAvatar Elevation="3" Size="Size.Large" Style="width:150px;height:150px;border:solid 3px #717171">
                                    <MudImage Src="@PreviewOrPhoto" Style="object-fit:cover" />
                                </MudAvatar>
                            </div>
                        </ActivatorContent>
                    </MudFileUpload>
                </MudItem>
                <!-- ================= RIGHT COLUMN (Form) ================= -->
                <MudItem xs="12" md="8">
                    <MudGrid Spacing="2">
                        <MudItem xs="12">
                            <MudStaticTextField Label="Title"
                                                For="@(() => Model.Title)"
                                                @bind-Value="Model.Title" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudStaticTextField Label="Author"
                                                For="@(() => Model.Author)"
                                                @bind-Value="Model.Author" />
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudStaticTextField Label="Edition"
                                                For="@(() => Model.Edition)"
                                                @bind-Value="Model.Edition" />
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudStaticTextField Label="Volumn"
                                                For="@(() => Model.Volume)"
                                                @bind-Value="Model.Volume" />
                        </MudItem>
                        <MudItem xs="12">
                        </MudItem>
                    </MudGrid>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudSelect T="int?" @bind-Value="Model.Category_Id" Required="true" Label="Select a Category" Variant="Variant.Outlined" Placeholder="Please Select Category" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AddModerator" AdornmentColor="Color.Primary">
                        @foreach (var _option in _category)
                        {
                            <MudSelectItem Value="@_option.Id">@_option.Text</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudSelect T="int?" @bind-Value="Model.Type_Id" Required="true" Label="Select a Type" Variant="Variant.Outlined" Placeholder="Please Select Type" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AddModerator" AdornmentColor="Color.Primary">
                        @foreach (var _option in _type)
                        {
                            <MudSelectItem Value="@_option.Id">@_option.Text</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudSelect T="int?" @bind-Value="Model.Language_Id" Required="true" Label="Select a Language" Variant="Variant.Outlined" Placeholder="Please Select Language" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AddModerator" AdornmentColor="Color.Primary">
                        @foreach (var _option in _language)
                        {
                            <MudSelectItem Value="@_option.Id">@_option.Text</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudSelect T="int?" @bind-Value="Model.Publisher_Id"
                               Required="true" Label="Select a Publisher"
                               Variant="Variant.Outlined" Placeholder="Please Select Publisher"
                               Adornment="Adornment.Start"
                               AdornmentIcon="@Icons.Material.Filled.BuildCircle"
                               AdornmentColor="Color.Primary">
                        @foreach (var _option in _publisher)
                        {
                            <MudSelectItem Value="@_option.Id">@_option.Text</MudSelectItem>
                        }
                    </MudSelect>

                </MudItem>
                <MudItem xs="6" md="6">
                    <MudNumericField Label="Pages"
                                     For="@(() => Model.Pages)"
                                     @bind-Value="Model.Pages" />
                </MudItem>
                <MudItem xs="6" md="6">
                    <MudNumericField Label="Price"
                                     For="@(() => Model.Price)"
                                     @bind-Value="Model.Price" />
                </MudItem>
            </MudGrid>

        </MudForm>


        @if (!string.IsNullOrEmpty(_error))
        {
            <MudAlert Severity="Severity.Error" Dense Class="mt-2">
                @_error
            </MudAlert>
        }
        @* </EditForm> *@
    </DialogContent>

    <DialogActions>
        <AuthorizeView Roles="Admin,Librarian,Principal">
            <Authorized>

        
        <MudButton Color="@(Action == "Delete" ? Color.Error : Color.Success)"
                   Disabled="_loading"
                   OnClick="SaveAsync">
            @if (_loading)
            {
                <MudProgressCircular Indeterminate Size="Size.Small" />
            }
            else
            {
                @(Action == "Edit" ? "Update" : Action)

            }
        </MudButton>
            </Authorized>
        </AuthorizeView>
        <MudButton OnClick="Cancel">
            Cancel
        </MudButton>
    </DialogActions>
</MudDialog>

@code {

    [Parameter]
    public BookDto Model { get; set; } = new();
    [Parameter]
    public string Action { get; set; } = "Create";

    [CascadingParameter]
    private IMudDialogInstance _MudDialog { get; set; } = default!;

    private MudForm _form = default!;
    private bool _loading;
    private string? _error;

    private List<LookupItemDto> _type = new();
    private List<LookupItemDto> _category = new();
    private List<LookupItemDto> _publisher = new();
    private List<LookupItemDto> _language = new();

    private IBrowserFile? _file;
    private string? _preview;

    private async Task OnPhotoSelected(IBrowserFile file)
    {
        _file = file;

        using var ms = new MemoryStream();
        await file.OpenReadStream(5_000_000).CopyToAsync(ms);

        _preview =
            $"data:{file.ContentType};base64,{Convert.ToBase64String(ms.ToArray())}";
    }

    string PreviewOrPhoto =>
        _preview ?? Model.ThumbURL ?? "/images/default-user.png";

    protected override async Task OnInitializedAsync()
    {
        _type = await _lookup.GetBookTypesAsync();
        _category = await _lookup.GetBookCategorysAsync();
        _publisher = await _lookup.GetBookPublishersAsync();
        _language = await _lookup.GetLanguageAsync();
        await InvokeAsync(StateHasChanged);
    }


    private async Task SaveAsync()
    {
        _error = null;

        await _form.Validate();
        if (!_form.IsValid)
            return;

        _loading = true;

        try
        {
            if ((Model.Id == 0) || (Action == "Create"))
            {
                var created = await _serv.CreateAsync(Model, _file?.OpenReadStream(), _file?.Name);
                Model.Id = created.Id;
                _snackbar.Add("Book created successfully", Severity.Success);
            }
            else if (Action == "Delete")
            {
                await _serv.DeleteAsync(Model.Id);
                _snackbar.Add("Book deleted successfully", Severity.Success);
            }
            else
            {
                await _serv.UpdateAsync(Model, _file?.OpenReadStream(), _file?.Name);
                _snackbar.Add("Book updated successfully", Severity.Success);
            }

            _MudDialog.Close(DialogResult.Ok(Model));
        }
        catch (InvalidOperationException ex)
        {
            _error = ex.Message;
            _snackbar.Add(ex.Message, Severity.Warning);
        }
        catch (Exception ex)
        {
            _error = "Unexpected error occurred.";
            _snackbar.Add("Failed to save book", Severity.Error);
        }
        finally
        {
            _loading = false;
        }
    }

    private void Cancel()
    {
        _MudDialog.Close(DialogResult.Cancel());
    }
}